<div style="text-align:center">
  <h1>
    Custom select
  </h1>
</div>
<div class="centred">
  <form [formGroup]="form" class="centred">
    <input formControlName="fullAutoName">
    <custom-select label="Марка" [options]="brandOptions" formControlName="brand" >
    </custom-select>
    <custom-select label="Модель" [options]="modelOptions" formControlName="model">
    </custom-select>
    <custom-select label="Год выпуска" [options]="yearOptions" formControlName="year">
    </custom-select>
    <custom-select label="Поколение" [options]="generationOptions" formControlName="generation">
    </custom-select>
  </form>

  <h2>Тест кейсы</h2>
  <form [formGroup]="test" class="centred">
    <custom-select label="Пустой список" formControlName="emptyList">
    </custom-select>
    <custom-select label="Мультиселект" formControlName="multiSelect" [options]="options" [multiselect]="true">
    </custom-select>
    <custom-select label="Undefined value" formControlName="undefinedValue" [options]="options" [(ngModel)]="undefinedValue">
    </custom-select>
    <custom-select label="Null value" formControlName="nullValue" [options]="options" [(ngModel)]="nullValue">
    </custom-select>
  </form>
</div>
